.frame {
  border: 1px solid #e3e9e7;
  max-width: 400px;
  margin: 30px auto 0;
  border-radius: 6px;
  background: linear-gradient(180deg, #c7cfb7, #e3e9e7);
}

.form {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-search {
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid black;
  width: 200px;
}

.form-submit {
  border-radius: 4px;
  padding: 2px 13px;
  border: 2px solid #4c6865;
  color: #e3e9e7;
  background-color: #4c6865;
  font-size: 14px;
  font-weight: 600;
}

.form-submit:hover {
  color: #4c6865;
  background-color: #e3e9e7;
}

.location-img {
  width: 25px;
  color: #557571;
  margin-left: 15px;
}

.location-img:hover {
  cursor: pointer;
}

.city {
  font-size: 28px;
  font-weight: 500;
  margin-left: 20px;
  text-transform: capitalize;
  color: #4c6865;
}

.country {
  font-size: 14px;
  margin-left: 5px;
  position: relative;
  bottom: 3px;
}
/* max 13 caracteres */

.temp-conversion {
  padding: 3px 6px;
  color: #4c6865;
  position: relative;
  top: 5px;
  right: 20px;
}

.celsius-conv,
.fahrenheit-conv {
  text-decoration: none;
  color: #4c6865;
}

.last-update {
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  font-size: 13px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.conditions li {
  display: inline-block;
  font-size: 14px;
}

.conditions ul {
  text-align: center;
}

.wind-img {
  width: 20px;
  margin-right: 5px;
}

.humidity-img {
  width: 15px;
  margin-left: 30px;
  margin-right: 8px;
}

.max-temp-img {
  width: 20px;
}

.min-temp-img {
  width: 20px;
  margin-left: 8px;
}

.current-temp {
  color: #4c6865;
  margin-top: 5px;
}

.temperature {
  font-size: 36px;
  font-weight: bold;
}

.current-temp .unit {
  position: relative;
  bottom: 15px;
  margin-left: 5px;
}

.current-description {
  text-transform: capitalize;
}

.weather-icon {
  width: 175px;
  display: block;
  margin: -10px auto;
}

.current-description,
.feels-like,
.current-max-temp,
.current-min-temp,
.max-min-temp .unit {
  font-size: 14px;
  line-height: 25px;
}
