.frame {
  border: 1px solid black;
  width: 450px;
  margin: 50px auto 0;
  border-radius: 6px;
}

.form {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-search {
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid black;
  width: 250px;
}

.form-submit {
  border-radius: 4px;
  padding: 3px 15px;
  border: none;
  color: #e7ece8;
  background-color: #4c6865;
  font-size: 15px;
  font-weight: 600;
}

.location-img {
  width: 25px;
  color: #557571;
  margin-left: 15px;
}

.location-img:hover {
  cursor: pointer;
}

.city {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-left: 35px;
  text-transform: capitalize;
  color: #4c6865;
}

.country {
  font-size: 14px;
  margin-left: 15px;
  position: relative;
  bottom: 3px;
}

.temp-conversion {
  text-align: center;
  padding: 3px 6px;
  margin-left: 135px;
  color: #0c5e7e;
  position: relative;
  bottom: 3px;
}

.celsius-conv {
  text-decoration: none;
  font-weight: 700;
  color: #4c6865;
}

.fahrenheit-conv {
  text-decoration: none;
  color: #4c68659d;
}

.currently li {
  display: inline-block;
  list-style: none;
}

.last-update {
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  font-size: 13px;
  margin-bottom: 15px;
}
